:root{ /*these can go above their rezspective rules, just be careful with naming conventions*/
    --cell-size: 50px;
    --cell-text-size: 0px;
    --cell-border: 4px;
    --hover-color: #8a8a8a;
    --cur-x: 0;
    --cur-y: 0;

}

#__GAME__grid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: auto;
    width: min-content;


    display: grid;
    grid-template-columns: calc(var(--cell-size) + 2 * var(--cell-border)) auto;
    grid-template-rows: auto calc(var(--cell-size) + 2 * var(--cell-border));
    grid-column-gap: var(--cell-border);
    grid-row-gap: var(--cell-border);

    justify-content: center;
}
#__GAME__board{
    position: relative;
    box-sizing: border-box;

    width: min-content; /*??? might not need anymore*/
    box-shadow: 3px 3px 5px #00000085;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;
}
.__GAME__row{
    display: flex;
}
.__GAME__tile{
    height: var(--cell-size);
    width: var(--cell-size);
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}
.__GAME__tile-covered{
    background: #535353;
    border-style: solid;
    border-color: #696969 #444444 #444444 #696969; 
    border-width: var(--cell-border);
    transition: all 49ms ease-in-out;

    box-shadow: 1px 1px 1px #00000085;

    z-index: 3
}
.__GAME__tile-covered:hover{
    background: var(--hover-color);
}
.__GAME__tile-revealed{
    /*I guess I dont actually need any style here?*/
    /*padding: var(--cell-border);*/
    background: #000000;
    border-style: none;
}