body{
    margin: 0px;
    /*overflow: hidden;*/
}
#background-checkers{ /* checkers are 4 by 4 px*/
    position: absolute;
    background-image: url('./checker.png');
    height: calc(100vh + 20px);
    width: calc(100vw + 30px);
    z-index: -20;

    animation-name: checkerScroll;
    animation-duration: 1.3s; /*typical value is like 1.3s*/
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
@keyframes checkerScroll{
    0% {
        top:-15px;
        left:-25px;
    }
    100%{
        top: 0px;
        left: 0px;

    }
}
#background-cross{ /* crosses are composed of 20px squares, each being 3x3 squares in total*/
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./cross-shadow.png');
    height: 100vh;
    width: 100vw;
    z-index: -10;

    /*
    animation-name: crossBreath;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    */
}
@keyframes crossBreath{
    0% {
        background-size: 97%, 103%;
    }
    100%{
        background-size: 103%, 97%;
    }
}